# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment directories
.env/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log